[*.cs]

# CA1051: Do not declare visible instance fields
dotnet_diagnostic.CA1051.severity = none

# IDE0063: Use simple 'using' statement
csharp_prefer_simple_using_statement = false

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = none

# IDE0047: Remove unnecessary parentheses
dotnet_diagnostic.IDE0047.severity = none
